.todo-list {
    background-color: rgb(169, 239, 169);
    padding: 20px;
    border-radius: 5px;
}
.todo-list h1{
    text-align: center;
    margin-bottom: 20px;
}
.todo-list ul{
    list-style: none;
}